@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Cera Pro;
}

.restrict {
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .restrict {
    height: unset;
    overflow: unset;
  }
}
